body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #FFDF6C; color:black; border-radius: 5px;}

ul.topnav li a.active {background-color: #FFDF6C; color: black;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
h1{
    padding-bottom: 55px;
    padding-left: 250px;
    background-color: #333;
    color:  #FFFFFF;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

h1 .img{
    display: inline-block;
    padding-left: 250px;
}

h2{
    text-align: center;
}